@import 'tailwindcss';
@import '@enterpriseaigroup/core/theme.css';
@source "../../node_modules/@enterpriseaigroup/core/dist";
@source "../../node_modules/@enterpriseaigroup/demo/dist";

@layer base {
  * {
    @apply border-border box-border;
    font-family: "Geist", sans-serif;
  }

  body {
    @apply bg-background text-foreground;
    font-size: 16px;
  }

  html,
  body {
    @apply m-0 h-full w-full overflow-hidden p-0;
  }
}

@layer components {
  /* Scrollbar hide utility */
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }

  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

